body {
background: #AB8;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 16px;
text-align: justify;
}

div { margin: 0px; padding: 0px; overflow: hidden; }

body, #header, #footer {
background-image:url('images/back.jpg');
}

a:link {
color: #006;
}
a:visited {
color: #006;
}
a:hover {
color: #500;
}
a:active {
color: #D00;
}
code, kbd {
font-family: monospace;
font-weight: bold;
}
code {
color: #004;
}
kbd {
color: #403;
}
pre {
overflow: auto;
font-family: courier;
background-color: rgba(0,10,0,.8);
color: #9F6;
font-weight: bold;
padding: 10px 20px;
margin: 20px 30px;
opacity: 0.9;
box-shadow: 0px 0px 50px #000000 inset, 0px 0px 10px rgba(255,255,255,.8);
border-radius: 16px;
border: 3px solid #000;
text-shadow: 0px 0px 16px #372;
}

.navig, .navig > div, .cnavlink, #footer > *, .forontop, .info {
-o-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
}

#footer, #framenavig, #framecontent {
position: absolute;
/*box-shadow: 0px 0px 4px #341 inset;*/
}
#header, #footer, #framenavig {
box-shadow: 0px 0px 10px #000, 0px 0px 2px #341 inset, 0px 0px 18px rgba(255,255,255,.8) inset;
-o-select: none;
-moz-user-select: none;
-webkit-user-select: none;
}

#header { height: 36px; right: 0; left: 0; top: 0;}
#footer { height: 36px; right: 0; left: 0; bottom: 0;}
#framenavig { width: 166px; left: 0; top: 36px; bottom: 36px;}
#framecontent { top: 36px; bottom: 36px; left: 166px; right: 0; }
#header, #footer, #navig, #content { position: absolute;}

#header a.navig {
float: left;
position: relative;
top: -10px; bottom: -10px;
width: 14%;
text-align: center;
text-transform: uppercase;
text-align: center;
padding-top: 18px;
padding-bottom: 10px;
}
#header a.navig.current {
top: -5px;
}

a.navig {
display:block;
color: #000;
text-decoration: none;
outline: none;
}

#navig .navig {
padding: 2px 16px;
margin-left: -3px;
}

.navig, .cnavlink, .anchor, .forontop { cursor: pointer;}
.navig:hover {
background: rgba(255,255,100,.1);
box-shadow: 0px 0px 5px rgba(0,0,0,.5) inset, 0px 0px 2px rgba(0,0,0,.5);
}
a.navig.current {
background: rgba(255,255,100,.2);
box-shadow: 0px 0px 6px rgba(0,0,0,.9) inset, 0px 0px 10px rgba(255,255,200,.8), 0px 0px 3px rgba(0,0,0,.9);
}

#navig, #content  {
top: 0px; bottom: 0px; left: 0px; right: 0px;
}

#navig { overflow-y: scroll; font-size: 14px; padding: 4px 0px; }

.navgrp { margin: 8px 0px; }
#navig .navgrp > * { padding-left: 24px; }
#navig .navgrp > *:first-child { padding-left: 14px; }
#navig a.navig.current { margin-left: 0px;}


#footer > * {
display: block;
float: left;
text-align: center;
width: 20%;
opacity: 0.7;
padding: 7px 0px;
/*box-shadow: 0px 0px 2px #000 inset;*/
}
#footer > *:hover {opacity: 0.9;}

#content {
overflow-y: scroll;
overflow-x: auto;
padding: 20px;
}

#loading {
background: #AB7;
border: 3px #442 solid;
position: absolute;
top: 40%;
left: 40%;
box-shadow: 0px 0px 8px #000;
border-radius: 6px;
padding: 10px;
text-align: center;
}
#loading div {
box-shadow: 0px 0px 8px #000 inset;
border-radius: 6px;
padding: 6px 8px;
font-weight: bold;
text-align: center;
}

.navig, h1, h2, h3, h4, h5, b, code, kbd {
text-shadow: 0px 0px 10px rgba(255,255,255,.5), 0px 0px 1px rgba(255,255,255,.9);
font-weight: bold;
opacity: 0.8;
}
.cnavlink, .cnavblock {
margin:10px 10px;
padding:10px 20px;
border-radius:12px; box-shadow:0 0 4px #000 inset, 0 0 15px rgba(255,255,255,.3);}
.cnavblock.red    { box-shadow:0 0 4px #200 inset, 0 0 15px rgba(255,255,255,.3);}
.cnavblock.green  { box-shadow:0 0 4px #040 inset, 0 0 15px rgba(255,255,255,.3);}
.cnavblock.blue   { box-shadow:0 0 4px #007 inset, 0 0 15px rgba(255,255,255,.3);}
.cnavblock.magenta{ box-shadow:0 0 4px #407 inset, 0 0 15px rgba(255,255,255,.3);}
.cnavlink:hover   { box-shadow:0 0 8px #000 inset, 0 0 15px rgba(255,255,255,.3); background: rgba(255,255,100,.1);}
.cnavblock.outer { box-shadow: 0 0 10px #000, 0 0 15px rgba(255,255,255,.3) inset, 0 0 5px rgba(0,0,0,.5) inset; }
.cnavabs { position:relative; overflow: visible; /*border:1px #000 solid;*/ }
.cnavabs .cnavblock, .cnavabs .cnavlink {
position: absolute;
text-align:center;
margin: 0; padding:10px 0px;
}

#content img {
margin: 4px 8px;
}
#ontop img {
margin: 20px;
}

.forontop {
opacity: 0.8;
border: 1px #000 dashed;
}
.forontop:hover {
opacity: 1.0;
border: 1px #FF0 dashed;
}
.forontop > * {
}
#ontop {
overflow: auto;
background: rgba(0,0,0,.5);
position: absolute;
text-align: center;
top: 0; bottom: 0; left: 0; right: 0;
display: none;
}

#notfound {
margin: 50px;
padding: 20px;
display: none;
text-align: center;
box-shadow: 0px 0px 18px #000 inset,  0px 0px 18px #000;
border-radius: 50px;
}
#notfound_file {
}

.info { cursor: pointer;}
.info:hover { background: rgba(255,255,100,0.1);}
.info.opened {
cursor: auto;
background: rgba(255,255,100,0.1);
}
.wndinfo {
position: absolute;
box-shadow: 0px 0px 10px #000;
border-radius: 8px;
}
.wndinfo, .wndinfo .close { background: #CD9;}
.wndinfo .close {
position: absolute;
cursor: pointer;
right: 0px; top: 0px;
box-shadow: 0px 0px 3px #000;
border-radius: 3px;
padding: 2px;
}
.wndinfo .text {
background-image:url('images/back.jpg');
box-shadow: 0px 0px 3px #000 inset;
border-radius: 6px;
margin: 4px;
padding: 10px;
}
/*
#rules {
font: 20px monospace;
display: block;
text-align: center;
font-weight: bold;
padding: 4px 0px;
text-shadow: 0 0 4px #FFFFFF;
}
*/
#content .player_examples a {
padding: 0px;
margin: 8px;
float: left;
display: block;
border: 2px solid #000;
border-radius: 8px;
box-shadow: 0 0 4px #FFF;
overflow: hidden;
height: 90px;
}
#content .player_examples a:hover { border: 2px solid #AAA; box-shadow: 0 0 12px #FFF; }
#content .player_examples a img { padding: 0px; margin: 0px; }
