body {
	background-color: #CCCCCC;
	color: #111111;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
}

div { margin: 0px; padding: 0px; overflow: hidden; }

a:link {
color: #222266;
}
a:visited {
color: #222266;
}
a:hover {
color: #552222;
}
a:active {
color: #D22222;
}
code, kbd {
font-family: monospace;
font-weight: bold;
}
code {
color: #222244;
}
kbd {
color: #442233;
}
pre {
overflow: auto;
font-family: monospace;
background-color: rgba(0,10,0,.8);
color: #9F6;
font-weight: bold;
padding: 10px 20px;
margin: 20px 30px;
opacity: 0.9;
box-shadow: 0px 0px 50px #000000 inset, 0px 0px 10px rgba(255,255,255,.8);
border-radius: 16px;
border: 3px solid #000;
text-shadow: 0px 0px 16px #372;
}

.error { color: #F52; }

#footer, #framecontent {
position: absolute;
/*box-shadow: 0px 0px 4px #341 inset;*/
}
#header, #footer {
border: 2px solid #777;
background-color: rgba(0,0,0,.1);
-o-select: none;
-moz-user-select: none;
-webkit-user-select: none;
}

#header { height: 36px; right: 0; left: 0; top: 0;}
#footer { height: 36px; right: 0; left: 0; bottom: 0;}
#framecontent { top: 38px; bottom: 38px; left: 0; right: 0; }
#header, #footer, #content { position: absolute;}

#header a.navig {
float: left;
position: relative;
top: -7px; bottom: -10px;
width: 16%;
text-align: center;
text-transform: uppercase;
text-align: center;
padding-top: 18px;
padding-bottom: 10px;
}
#header a.navig.external {
	color: #222244;
	text-decoration: underline;
}

a.navig {
display:block;
color: #222222;
text-decoration: none;
outline: none;
}

.navig, .anchor, .forontop {
cursor: pointer;
}
.navig:hover {
background: rgba(200,255,255,.2);
box-shadow: 0px 0px 6px rgba(200,255,255,.4);
}
a.navig.current {
background: rgba(200,255,255,.4);
box-shadow: 0px 0px 6px rgba(200,255,255,.8);
}

#content  {
top: 0px; bottom: 0px; left: 0px; right: 0px;
}

#footer > * {
display: block;
float: left;
text-align: center;
opacity: 0.7;
padding: 7px 0px;
/*box-shadow: 0px 0px 2px #000 inset;*/
}
#footer > *:hover {opacity: 0.9;}

#footer a {
width: 26%;
}

#footer img {
height: 26px;
}

#content {
overflow-y: scroll;
overflow-x: auto;
padding: 20px 40px;
}

#loading {
background-color: #AAA;
border: 2px #777 solid;
position: absolute;
top: 40%;
left: 40%;
box-shadow: 0px 0px 8px #000;
border-radius: 4px;
padding: 6px;
text-align: center;
}
#loading div {
background-color: #CCC;
border: 2px #777 solid;
border-radius: 2px;
padding: 6px 8px;
font-weight: bold;
text-align: center;
}

.navig, h1, h2, h3, h4, h5, b, code, kbd {
text-shadow: 0px 0px 10px rgba(255,255,255,.5), 0px 0px 1px rgba(255,255,255,.9);
font-weight: bold;
opacity: 0.9;
}

#content img {
margin: 4px 8px;
}
#ontop img {
margin: 20px;
}

.forontop {
opacity: 0.8;
border: 1px #000 dashed;
}
.forontop:hover {
opacity: 1.0;
border: 1px #FF0 dashed;
}
.forontop > * {
}
#ontop {
overflow: auto;
background: rgba(0,0,0,.5);
position: absolute;
text-align: center;
top: 0; bottom: 0; left: 0; right: 0;
display: none;
}

#notfound {
margin: 50px;
padding: 20px;
display: none;
text-align: center;
border: 2px solid #777;
border-radius: 4px;
}

#notfound_file {
}

