/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			cgru
    --------------------------------------------------------------
*/

@import url("normalize.css");
@import url("base.css");
@import url("utilities.css");
@import url("common.css");
@import url("links.css");
@import url("content.css");
@import url("buttons.css");
@import url("cp.css");
@import url("forms.css");
@import url("icons.css");
@import url("colours.css");
@import url("responsive.css");

#cgru_header_links > div {
	float: left;
	margin: 2px;
	margin-bottom: 0;
	padding: 2px 8px;
	font-weight: bold;
	text-align: center;
	width: 80px;
	border-radius: 4px;
	border: 1px solid #888888;
	background-color: #AAAAAA;
}
