body {
	background-color: #303322;
	color: #BBBBBB;
	font-size: 36px;
	font-family: sans-serif;
	text-shadow: 0 0 4px #000;
}

.back_image {
	position: absolute;
	opacity: 0.03;
	left: 0; right: 0; top: 0; bottom: 0;
	background-image: url("plamya.png");
}

div, span {
	margin: 0; padding: 0; overflow: hidden;
}

#header, #footer, #navigation {
	box-shadow: 0 0 10px #000, 0 0 5px #A86 inset;
}

#header {
	position: absolute;
	left: 0; right: 0; top: 0;
	height: 64px;
	font-weight: bold;
	text-align: center;
}

#footer {
	-moz-user-select: none;
	-webkit-user-select: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 48px;
	font-weight: bold;
	text-align: center;
}

#middle {
	position: absolute;
	left: 0; right: 0;
	top: 64px;
	bottom: 48px;
}

#navigation {
	background-color: #303322;
	position: absolute;
	left: 0; top: 0; bottom: 0;
	width: 512px;
}

#content {
	position: absolute;
	right: 0; top: 0; bottom: 0;
	left: 0px;
	-border: 2px solid #00F;
}

a {
	cursor: pointer;
	color: #AAAAAA;
	text-decoration: none;
	-o-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
}
a.visited { color: #AAAAAA; }
a:hover {
	color: rgba(255,255,255,1);
	text-shadow: -5px 0 5px rgba(255,255,255,.5), 5px 0 5px rgba(255,255,255,.5), 0px 0 8px rgba(255,255,255,.5);
}

#logo {
	float:left;
	font-size: 42px;
	padding: 5px 32px;
}

#catalog_button {
	float: right;
	left: 0; right: 0; bottom: 0;
	padding: 16px;
}

#footer div {
	float: left;
	width: 50%;
}

#navig_items {
	margin: 8px;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}
#navig_items .nav_item { padding: 2px 12px; }
#navig_items .nav_item.current a { color: #DDDDDD; }
#navig_items .nav_link { }

#content > div {
	text-align: justify;
	position: absolute;
	top: 0; bottom: 0;
	left: 0%; right: 0%;
	padding: 24px;
	-o-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
	overflow-y: scroll;
	-border: 1px solid #F00;
}
#content > div.content_new { left: -100%; right: 100%; }
#content > div.content_old { left: 100%; right: -100%; }
#content > div.content_error { color: #BB5555; text-align: center; }

#content img {
	margin: 16px;
	opacity: .9;
	border-radius: 6px;
	border: 2px solid rgba(255,255,255,.5);
	width: 90%;
}

.shake {
	cursor: pointer;
	user-select: none;
	position: relative;
	color: #CC9966;
}
.shake:hover {
	color: rgba(255,200,100,1.0);
	text-shadow: -10px -5px 8px rgba(200,120,50,1.0), 0px -10px 8px rgba(200,120,50,1.0), 0px 0px 8px rgba(200,120,50,1.0), 10px -5px 8px rgba(200,120,50,1.0);
}

.input {
	min-height: 1.2em;
	min-width: 64px;
	background-color: rgba(0,0,0,.5);
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 4px;
}
.toggle:hover, .input:hover { border: 1px solid rgba(255,255,255,.7); }
.toggle {
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 4px;
	background-color: rgba(0,0,0,.1);
	cursor: pointer;
}
.toggle.ON { background-color: rgba(255,255,255,.1); }

.border {
	border: 2px solid #777;
	border-radius: 4px;
}
