body {
background-color: #444444;
color: #AAAAAA;
font-family: sans-serif;
text-shadow: 0 0 4px #000;
text-align: center;
}

div, span { margin: 0; padding: 0; overflow: hidden; }

#header {
position: absolute;
left: 0; right: 0; top: 0;
height: 70px;
box-shadow: 0 0 10px #000, 0 0 5px #AAA inset;
font-weight: bold;
}

#footer {
-moz-user-select: none;
-webkit-user-select: none;
box-shadow: 0 0 10px #000, 0 0 5px #AAA inset;
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
height: 32px;
font-size: 12px;
}

#navig_div {
position: absolute;
left: 0;
top: 70px;
bottom: 32px;
width: 200px;
box-shadow: 0 0 10px #000, 0 0 5px #AAA inset;
-border: 2px solid #0FF;
}

#content {
position: absolute;
left: 200px; right: 0;
top: 70px;
bottom: 32px;
-border: 2px solid #00F;
}

a {
cursor: pointer;
color: #AAAAAA;
text-decoration: none;
-o-transition: color .3s ease-in-out;
-moz-transition: color .3s ease-in-out;
-webkit-transition: color .3s ease-in-out;
-padding: 10px;
-margin: 10px;
-height: 40px;
-border: 1px solid #FFF;
}
a.visited { color: #AAAAAA; }
a:hover {
color: #FFFFFF;
text-shadow: -10px 0 5px #FFF, 10px 0 5px #FFF, 0px 0 15px #FFF;
}

.navig.current a { color: #DDDDDD; }

#header_links {
-moz-user-select: none;
-webkit-user-select: none;
font-size: 16px;
position: absolute;
left: 0; right: 0; bottom: 0;
-border: 1px solid #FF0;
}

#header_links div {
float: left;
width: 25%;
margin-top: 10px;
padding: 8px 0;
-border: 1px solid #FF0;
}

#logo {
font-size: 20px;
padding: 20px;
}

#footer div {
padding: 8px 0;
float: left;
width: 25%;
-border: 1px solid #FF0;
}

.content {
text-align: justify;
position: absolute;
top: 0; bottom: 0;
-left: -100%;
-overflow-y: auto;
-border: 2px solid #0F0;
}
.content.current {
-left: 0;
}
.content.transition {
-o-transition: all .6s ease-in-out;
-moz-transition: all .6s ease-in-out;
-webkit-transition: all .6s ease-in-out;
}
.scroll {
top: 0; bottom: 0;
left: 0; right: -20px;
padding: 20px 40px;
overflow-y: scroll;
position: absolute;
-border: 2px solid #FF0;
}

.shake {
position: relative;
}

#back {
position: absolute;
left: 0; right: 0; top: 0; bottom: 0;
}

