body {
background-color: #444444;
color: #AAAAAA;
font-family: sans-serif;
text-shadow: 0 0 4px #000;
}

div, span { margin: 0; padding: 0; overflow: hidden; }

#header {
position: absolute;
left: 0; right: 0; top: 0;
height: 48px;
box-shadow: 0 0 10px #000, 0 0 5px #AAA inset;
font-weight: bold;
text-align: center;
}

#footer {
-moz-user-select: none;
-webkit-user-select: none;
box-shadow: 0 0 10px #000, 0 0 5px #AAA inset;
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
height: 32px;
font-size: 12px;
font-weight: bold;
text-align: center;
}

#middle {
position: absolute;
left: 0; right: 0;
top: 48px;
bottom: 32px;
}

#navigation {
position: absolute;
left: 0; top: 0; bottom: 0;
width: 200px;
box-shadow: 0 0 10px #000, 0 0 5px #AAA inset;
-padding: 16px;
-border: 2px solid #0FF;
}

#content {
position: absolute;
right: 0; top: 0; bottom: 0;
left: 200px;
-border: 2px solid #00F;
}

a {
cursor: pointer;
color: #AAAAAA;
text-decoration: none;
-o-transition: color .3s ease-in-out;
-moz-transition: color .3s ease-in-out;
-webkit-transition: color .3s ease-in-out;
}
a.visited { color: #AAAAAA; }
a:hover {
color: #FFFFFF;
text-shadow: -10px 0 5px #FFF, 10px 0 5px #FFF, 0px 0 15px #FFF;
}

#logo {
float:left;
font-size: 20px;
padding: 12px 32px;
}

#header_links {
-moz-user-select: none;
-webkit-user-select: none;
float: right;
left: 0; right: 0; bottom: 0;
-border: 1px solid #FF0;
}

#header_links div {
float: left;
padding: 16px;
-border: 1px solid #FF0;
}

#footer div {
padding: 8px 0;
float: left;
width: 33%;
}

#navig_items { margin: 8px; }
#navig_items .nav_item { padding: 2px 12px; }
#navig_items .nav_item.current a { color: #DDDDDD; }
#navig_items .nav_link { font-size: 12px; }

#content > div {
text-align: justify;
position: absolute;
top: 0; bottom: 0;
left: 0%; right: 0%;
padding: 24px;
-o-transition: all .6s ease-in-out;
-moz-transition: all .6s ease-in-out;
-webkit-transition: all .6s ease-in-out;
overflow-y: scroll;
-border: 1px solid #F00;
}
#content > div.content_new {
left: -100%;
right: 100%;
}
#content > div.content_old {
left: 100%;
right: -100%;
}
#content > div.content_error {
color: #BB5555;
text-align: center;
}

.shake {
position: relative;
}

#back {
position: absolute;
left: 0; right: 0; top: 0; bottom: 0;
}

.input {
min-height: 1.2em;
min-width: 64px;
background-color: rgba(0,0,0,.5);
border: 1px solid rgba(255,255,255,.5);
border-radius: 4px;
}
.toggle:hover, .input:hover { border: 1px solid rgba(255,255,255,.7); }
.toggle {
border: 1px solid rgba(255,255,255,.5);
border-radius: 4px;
background-color: rgba(0,0,0,.1);
cursor: pointer;
}
.toggle.ON { background-color: rgba(255,255,255,.1); }

.border {
border: 2px solid #777;
border-radius: 4px;
}

.onforum {
border-top: 1px solid rgba(255,255,255,.4);
margin: 32px;
padding: 32px;
font-size: 12px;
font-weight: bold;
font-style: italic;
text-decoration: underline;
}

